/* Error: Undefined variable.
 *    ,
 * 58 |           color: $breadcrumb-active-item-text-color;
 *    |                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss/components/breadcrumb.scss 58:18  breadcrumb-theme()
 *   scss/mixins/theme.scss 44:9            generate-theme()
 *   scss/denali-dark-theme.scss 445:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 58 \2502            color: $breadcrumb-active-item-text-color;\a    \2502                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/components/breadcrumb.scss 58:18  breadcrumb-theme()\a   scss/mixins/theme.scss 44:9            generate-theme()\a   scss/denali-dark-theme.scss 445:1      root stylesheet";
}
