.btn {
  @apply border-color-border-primary-light inline-flex min-w-[120px] cursor-pointer items-center justify-center rounded-md px-2.5 py-0.5 text-base capitalize outline-4 transition;

  &.btn-primary {
    @apply bg-color-action-primary-default-light
        hover:bg-color-action-primary-default-light
        active:bg-color-action-primary-pressed-light
        disabled:bg-color-action-primary-disabled-light
        disabled:text-color-text-secondary-light
        h-9;
  }

  &.btn-link {
    @apply text-color-action-text-default-light no-underline hover:underline;
  }

  &--transparent {
    @apply bg-color-action-primary-default-light;
  }

  /* Button size */
  &.btn--medium {
    @apply h-8;
  }

  &.btn--small {
    @apply h-7;
  }

  &.btn--large {
    @apply h-11;
  }
}
