.dn-loader {
  @apply relative top-[-10px] h-2.5 w-2.5 rounded-full;
  animation: 0.9s ease 0.2s infinite alternate loaderDefault;

  &:before,
  &:after {
    @apply absolute inline-block h-2.5 w-2.5 rounded-full;
    content: "";
    animation: 0.9s ease infinite alternate loaderDefault;
  }

  &:before {
    @apply left-3.5;
    animation-delay: 0.3s;
  }

  &:after {
    @apply right-3.5;
    animation-delay: 0.1s;
  }

  &--inverse {
    animation-name: loaderInverse;

    &:before,
    &:after {
      animation-name: loaderInverse;
    }
  }
}

@keyframes loaderDefault {
  0% {
    box-shadow: 0 10px 0 -10px #016eff;
    opacity: 0;
  }

  50% {
    box-shadow: 0 10px 0 #016eff;
    opacity: 0.75;
  }

  100% {
    box-shadow: 0 10px 0 #016eff;
    opacity: 1;
  }
}

@keyframes loaderInverse {
  0% {
    box-shadow: 0 10px 0 -10px #fff;
    opacity: 0;
  }

  50% {
    box-shadow: 0 10px 0 #fff;
    opacity: 0.75;
  }

  100% {
    box-shadow: 0 10px 0 #fff;
    opacity: 1;
  }
}
