.dn-progress {
  @apply flex h-4 overflow-hidden rounded bg-gray-400;

  &--bar {
    @apply color-background-primary-light-300 ml-0.5 h-full;

    &:first-child {
      @apply ml-0;
    }
  }

  &--sm {
    @apply h-2.5;
  }

  &--md {
    @apply h-5;
  }

  &--lg {
    @apply h-6;
  }

  &--danger {
    @apply bg-alerts-danger;
  }

  &--warning {
    @apply bg-alerts-warning;
  }

  &--success {
    @apply bg-alerts-success;
  }

  &--loader {
    animation: loadingShimmer 1s linear infinite;
    animation-fill-mode: forwards;
    background-image: linear-gradient(
      to right,
      #e8e8e8 0%,
      #f7f7f7 50%,
      #e8e8e8 100%
    );
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
  }
}

@keyframes loadingShimmer {
  from {
    background-position: -100%;
  }

  to {
    background-position: 200%;
  }
}
