/* Markdown Denali Reset */

span.token.tag {
    background: transparent;
    padding: 0px;
    margin: 0px;
    height: 19px;
}

table.sbdocs-table {
    width: 100%;
    margin: 40px 0px;
}

hr.sbdocs-hr {
    margin: 70px 0px;
    background-color: #e8e8e8;
    border: 0;
    display: block;
    height: 1px;
}

h2.sbdocs-h2 {
    border-bottom: none;
}